@charset:"utf-8";

.jumbotron {
  background-image: url("../images/ba01.jpg");
  padding: 200px 0 100px 0;
  background-position: center center;
  background-size: cover;
  color: #000;
}

.row{
  width: 1000px;
  margin: auto;
  overflow: hidden;
}

.col-lg-4{
  margin:20px 10px 20px 10px;
  float: left;
}
footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

#pagetop {
 float: right;
 margin-right: 30px;
}