@charset "UTF-8";
/* CSS Document */
body{
	color:#4a4a4a;
	font-family:'メイリオ',"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size:0.875em;
	line-height:1.9em;
	letter-spacing:0.1em;
}
a{
	color:#000;
}

img{
	max-width:100%
}

.wrap{
	width:90%;
	max-width:960px;
	margin:0 auto;
}

.clearfix{
	content:'';
	clear:both;
	display:table;
}

#mainimg{
	position:fixed;
	top:66px;
	left:0;
	background:url(../images/work.jpg) no-repeat;
	background-size: contain;
	width:100%;
	padding-top:100%;
	z-index:0;
}

header{
	padding:5px 0;
	background-color:#eee;
	border-bottom:1px solid #f7f7f7;
	position:fixed;
	top:0;
	width:100%;
	z-index:12;
}

nav ul{
	padding:20px 0 10px;
}
nav li{
	display:inline;
	margin-right:30px;
}
nav li:last-child{
	margin-right:0;
}
nav a{
	color:#000;
	text-decoration:none;
}
nav a:hover{
	color:#adadad;
}

.main{
	position:relative;
	padding-top:960px;
}
.bg{
	position:absolute;
	width:100%;
	background-color:#fff;
	opacity:0.85;
	z-index:0;
}

.contents{
	position:absolute;
	width:100%;
	overflow:hidden;
	z-index:10;
}

section{
	z-index:8;
}

#portfolio h2{
	float: left;
}

.port_text{
	overflow: hidden;
}

.hr_style{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cont-detail{
	width:100%;
	padding:190px 0;
	height:230px;
}

.cont-detail h3{
	margin bottom: 10px;
}
.cont-detail h2{
	float:left;
	height:100%;
	width:50%;
	text-align:center;
}

footer{
	width:100%;
	position:absolute;
	z-index:10;
}

footer small{
	display:block;
	padding:15px 0;
	width:100%;
	color:#fff;
	text-align:center;
	background-color:#3b3b3b;
}

.bg{
	height:2700px;
}

footer{
	margin-top:2700px;
}
